//Delete everything below to use the default theme
@use '@material/theme/color-palette';

$background: hsl(0, 0%, 5%);

@use '@material/theme/index' as theme with (
  $primary: color-palette.$orange-800,
  $secondary: color-palette.$teal-600,
  $surface: #fff,
  $background: $background,
  $error: #b00020,
);

@use "@material/typography/mdc-typography";

/*html,
body {
  background-color: $background;
  color: if(theme.contrast-tone($background) == 'dark', #000, #fff);
}*/

.nav-item a,
.logo a {
  text-decoration: none;
  outline: none;
  color: hsl(0, 0%, 75%);
}

.logo a {
  color: white;
}

.nav-item a:visited {
  color: hsl(0, 0%, 75%);
}

.nav-item a:hover {
  color: hsl(0, 0%, 90%);
}
